
<% fruit.forEach(function(m){%>
	<div>
		<h4>
			<%=m.name%>
		</h4>
		<img src="<%= m.image%>"><br>

		Price: $<%=m.price%>/lb <br>
		
		<input type="button" data-name="<%=m.name%>" data-price="<%=m.price %>" 
		class="cart" value="Add to Cart"><br>

		<a class="delete-btn"  href="/fruit/<%=m.id%>">Delete</a><br>

		<a class="update"  href="/fruit/<%=m.id%>">Edit</a>
		<hr>
	</div>
<%});%>


